.menu-item {
    display: flex;
    align-items: center;
    padding: 6px 0 6px 0px;
    color: rgba(0, 0, 0, 1);
    border-radius: 4px;
    transition: background-color 0.2s linear;
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
    .title {
        font-size: 1.6rem;
        font-weight: 600;
        margin-left: 14px;
    }

    &.active {
        color: var(--primary-color);

        .icon {
            display: none;
        }

        .active-icon {
            display: flex;
        }
    }
}

.icon,
.active-icon {
    display: flex;
}

.active-icon {
    display: none;
}
