@import "normalize.css";

:root {
    --primary-color: rgb(254, 44, 85);

    //Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --black: #000;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "TikTokFont", serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

button {
    border: none;
}

a {
    color: #000;
    text-decoration: none;
}

//Font emmbeded
@font-face {
    font-family: TikTokFont;
    src: url("/assets/fonts/TikTokFont-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url("/assets/fonts/TikTokFont-Semibold.woff2");
    font-weight: 600;
}

@font-face {
    font-family: TikTokFont;
    src: url("/assets/fonts/TikTokFont-Bold.woff2");
    font-weight: 700;
}

body {
    .tippy-box {
        background-color: #545454eb;
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: var(--white);
        padding: 3px;
    }

    .tippy-arrow {
        color: #545454eb;
    }

    .tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
        top: -8px;
    }
}
