.wrapper {
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


// Actions
.actions {
    display: flex;
    align-items: center;

    .action-btn {
        background-color: transparent;
        padding: 4px 8px;
        color: #161823;
        line-height: 0;
        cursor: pointer;
    }
}

.more-btn {
    font-size: 2rem;
    margin-left: 20px;
    padding: 8px;
    background-color: transparent;
    &:hover {
        cursor: pointer;
    }
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 14px;
    cursor: pointer;
}
